################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestConsole/TestConsole/obj
/TestConsole/TestConsole/bin/Debug/netcoreapp3.1
